﻿<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
            akka {
              actor {
                provider = "Akka.Cluster.ClusterActorRefProvider"
              }
              remote {
                dot-netty.tcp {
                  hostname = "localhost"
                  port = 5001
                }
              }
              cluster {
                seed-nodes = ["akka.tcp://ClusterSystem@localhost:5000"]
                roles = ["backend"]
              }
            }
			      ]]>
		</hocon>
	</akka>
</configuration>