<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
         loglevel = "INFO"
  stdout-loglevel = "INFO"

  actor {
    provider = "Akka.Actor.LocalActorRefProvider"
    debug {
      receive = on
      lifecycle = on
    }
  }

  remote {
    dot-netty.tcp {
      hostname = "127.0.0.1"
      port = 8080
    }
  }
      ]]>
		</hocon>
	</akka>
</configuration>
